@import "yeticss"
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

body {
  font-family: "Lato", Helvetica Neue, Helvetica, sans-serif;
  fieldset {
    border-color: white;
    padding: 0px 20px;
  }

  legend {
    color: white;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
  }
   form {
    padding: 0 20px;
    margin: 0;
  }
  .form-input {
    background: transparent;
    box-shadow: 0 none;
    border: 0 none;
    border-bottom: 2px solid transparent;
    color: white;
    border-radius: 0;
    font-size: 42px;

    &:focus,
    &:active {
      box-shadow: none;
      border: 0 none;
      border-bottom: 2px solid white;
    }
  }
}